.SYMBOLISM{
    text-decoration: underline overline wavy blue;
}

.TITLE{
    font-weight: bold;
    font-size: 150%;
}

.STANZA{
    border: 2px dashed blue;
    border-radius: 10px;
}

.COUPLET{
    border: 2px dotted red;
    border-radius: 10px;
}

.QUARTAIN{
    border: 2px double gold;
    border-radius: 10px;
}

.SIMILE{
    border-left: 5px solid red;
    border-right: 5px solid red;
}

.METONYMY{
    border-left: 5px solid blue;
    border-right: 5px solid blue;
}

.IMAGERY{
    border-left: 5px solid gold;
    border-right: 5px solid gold;
}

.ALLITERATION{
    background: rgba(0, 0, 255, 0.5);
}

.ASSONANCE{
    background: rgba(255, 0, 0, 0.5);
}

.SYNECDOCHE{
    background: rgba(238, 255, 0, 0.5);
}

.A{color: #f9701c}
.B{color: #7524db}
.C{color: #488b81}
.D{color: #d38082}
.E{color: #c40e05}
.F{color: #dd47dd}
.G{color: #1b8048}
.H{color: #175d7e}
.I{color: #437718}
.J{color: #fce700}
.K{color: #6aeca9}
.L{color: #4020ea}
.M{color: #e96c43}
.N{color: #b9811d}
.O{color: #bdd131}
.P{color: #444569}
.Q{color: #813bda}
.R{color: #3e0242}
.S{color: #131876}
.T{color: #ed0a7d}
.U{color: #cf9b12}
.V{color: #cc3700}
.W{color: #b80ce3}
.X{color: #964b00}
.Y{color: #af867d}
.Z{color: #908897}
